/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html {
	font-size: 10px;
}

h1, h2 {
	font-family: Cambria, sans-serif; 
}

p, ul, ol {
	font-family: Calibri, sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}

p {
	text-indent: 1.25rem;
}

h1 {
	font-size: 3.2rem;
	text-align: center;
	letter-spacing: 0.1rem;
}

h2 {
	font-size: 2.4rem;
	line-height: 1.6;
	letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}

a {
	color: #a66;
	outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Remove focus outline from all links */
a:focus {
  outline: none;
}

/* Active links */
a:active {
  color: green;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  background-size: 100%;
  background-image: url("external-link-52.png");
}

ul, ol, li {
	letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}

ul {
  list-style-type: square;
}

nav {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

nav ul li a{
	display: inline-block;
	font-size: 3rem; 
	padding: 10px 20px;
	background-color: white;
	color: black;
	text-decoration: none;
}

